.card{
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: transform .5s ease-in-out,box-shadow .5s ease-in-out;
}
.card:hover{
    transform: scale(1.01);
    box-shadow: white 4px 4px 4px;
}
.pinned{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
}
#color{
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    appearance: none;
    position: absolute;
    right: 10px;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.card:hover #color{
    display: block;
    cursor: pointer;
    opacity: 1;
}
.card p,h1,span{
    padding: 10px;
}
.card p,span{
    font-size: 1.4rem;
}
.title h1{
    font-weight: 800;
    font-size: 2.5rem;
}
.labels{
    display: flex;
    justify-content: space-between;
    width: 100%;
    span{
        background-color: white;
        margin: 0 0 5px 10px;
        border-radius: 10px;
        padding: 5px;
        font-size: 1rem;
    }
    padding-right: 10px;
    padding-bottom: 10px;
    align-items: center;
    gap: 10xp;   
}
hr{
    margin: 0 10px;
    border: 1px solid black;
}
.edit{
    position: absolute;
}
.delete-container{
    position: absolute;
    top: 30%;
    background: white;
    z-index: 10;
    left: 40%;
    button{
        background: black;
        color: white;
        cursor: pointer;
    }
    padding: 10px;
    border-radius: 10px;
    .buttons{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}
.fa{
    opacity: 0;
    transition: opacity .5s ease-in-out;
    z-index: 11;
    pointer-events: all;
    display: none;
}
.card:hover i{
    opacity: 1;
    display: inline-block;
}
@media(max-width: 700px) {
    .fa{
        display: inline-block;
        opacity: 1;
    }
    #color{
        opacity: 1;
    }
    .card:hover{
        transform: scale(1);
        box-shadow: white 4px 4px 4px;
    }
}
@media (max-width: 400px) {
    #color{
        position: static;   
    }
}
@media (max-width: 1100px) {
    .delete-container{
        left: 20%;
    }
}
@media (max-width: 700px) {
    .delete-container{
        h1{
            font-size: 1.5rem;
        }
        button{
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 600px) {
    .delete-container{
        left: 15%;
    }
}
@media (max-width: 550px) {
    .delete-container{
        left: 20%;
        h1{
            font-size: 1rem;
        }
        button{
            font-size: 1rem;
        }
    }
}